version: "3.9"

services:
  express-app:
    build: .
    container_name: express-app
    ports:
      - "5000:5000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev
